.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  color: gainsboro;
}

.buttonStyle  {
  margin: 5px;
}

.centerStyle{
  position: center;
  margin-left: 5vw;
}

.сompleted {
  color : gray;
  text-decoration: line-through;
}

.addPadding{
  margin: 5px;
}

.completedFilter{
  display: none;
}