.modal{
    position: fixed;
    color: white;
    background: cadetblue;
    border-radius: 25px;
    display: flex;
    z-index: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 50%;
    max-height: 45%;
    top: 15%;
    bottom: 15%;
    left: 10%;
    right: 10%;
}

@media (min-width: 600px) and (max-width: 900px) {
    .modal{
        max-width: 40%;
        left: 25%;
    }
}

@media (min-width: 901px) {
    .modal{
        max-width: 25%;
        left: 30%;
    }
}

.hidden-modal{
    display: none;
}

.modal-input-and-textarea__wrapper{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.text-with-buttons__wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.close-modal-button {
    margin: 10px;
    align-self: start;
    position: relative;
    width: 20px;
    height: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.close-modal-button::before,
.close-modal-button::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 0px;
    width: 20px;
    height: 2px;
    background: white;
}

.close-modal-button::before {
    transform: rotate(45deg);
}

.close-modal-button::after {
    transform: rotate(-45deg);
}

.transparent{
    opacity: 0.5;
}

.edit-button{
    margin-left: 15px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-color: transparent;
    align-content: center;
}

.edit-icon{
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
}

.сompleted {
    color: gray;
    opacity: 0.5;
    text-decoration: line-through;
    display: flex;
}
.сompleted:hover {
    color: gray;
    text-decoration: line-through;
    display: flex;
    color: white;
}

.complete-button{
    margin: 5px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    top: 10px;
    left: 25%;
}

.complete-icon{
    position: relative;
    top: -5px;
    left: -7px;
}

.modal-text__input{
    height: 25px;
    border-radius: 5px;
    display: grid;
    min-width: 150px;
    max-width: 250px;
    grid-area: auto;
}

.modal-additional-text__input{
    width: 70%;
    height: 60%;
    border-radius: 5px;
}

.modal-text,
.сompleted{
    color: gainsboro;
    max-width: 60%;
    white-space: normal;
    overflow-wrap: break-word;
    justify-items: center;
    justify-content: center;
}

.modal-text:hover{
    color: white;
}

.modal-text:active{
    opacity: 0.2;
}

.text-modal__wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}