.github-bar{
    display: flex;
    align-items: center;
    position: relative;
}

.github-pic-with-username:hover{
    opacity: 0.5;
}

.github-userName{
    color: white;
}

.github__img{
    margin-left: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

@media (max-width: 700px) {
    .github__img{
        display: none;
    }
}

.display-none{
    display: none;
}

.github-pic-with-username{
    display: flex;
    align-items: center;
}

.repos-list{
    list-style-type: none;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 15px 15px 15px;
    margin: 0;
    border-radius: 15px;
}

.repos-list-wrapper{
    position: absolute;
    background-color: transparent;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    top: 55px;
    left: 0px;
}

.repos-list-wrapper-hidden{
    display: none;
}

.repos-list-header {
    border-bottom: 1px solid black;
    font-size: 18px;
}

@media (max-width: 770px) {
    .repos-list{
        display: none;
    }
    .github-bar{
        width: auto;
    }
}

.repos-list-header:hover{
    opacity: 0.5;
}

@media (min-width: 770px) {
    .logout__button{
        display: none;
    }
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
    left: auto;
    z-index: 2;
    gap: 5px;
    padding: 5px;
}

.menu-wrapper{
    position: fixed;
    z-index: 1;
    background-color: var(--nav-background);
    top: 60px;
    right: 12%;
    border: 1px solid grey;
    border-radius: 15px;
}

.menu-wrapper-hidden{
    display: none;
}

.close__button {
    position: relative;
    display: flex;
    width: 10px;
    height: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    align-self: end;
}

.close__button::before,
.close__button::after {
    content: '';
    position: absolute;
    top: 10px;
    right: 0px;
    width: 20px;
    height: 2px;
    background: var(--icon-color);
}

.close__button::before {
    transform: rotate(45deg);
}

.close__button::after {
    transform: rotate(-45deg);
}
