.form-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 60%;
  padding: 15px;
  margin-top: 20px;

  background-color: var(--modal-background);
  border: 3px solid gainsboro;
  border-radius: 28px;
}

@media (max-width: 500px) {
  .form-layout{
    width: 80%;
  }
}

@media (min-width: 501px) and (max-width: 700px) {
  .form-layout{
    width: 60%;
  }
}

@media (min-width: 701px) {
  .form-layout{
    width: 40%;
  }
}

.row {
  width: 250px;
  display: flex;
  justify-content: space-between;

  margin-bottom: 8px;
}

.label {
  width: 70px;
  text-align: end;
  margin-right: 6px;
}

.input {
  width: 180px;
  border-radius: 5px;
}

.error-message {
  background: aquamarine;
  color: crimson;
  padding: 4px;
  border-radius: 4px;
}

.buttons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  gap: 5px;
}

.button{
  border-radius: 15px;
}

.login-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
